<h3>Add a New Restaurant Review</h3>

<%= form_for @review do |f|  %>

<% if @review.errors.any? %>

  <div class = "errors">
    <p> Please enter valid title</p>
    <p> Review has to be longer than 10 characters. </p>
  </div>

<% end %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :restaurant %>
  <%= f.text_field :restaurant %>
</p>

<p>
  <%= f.label :body %>
  <%= f.text_area :body %>
</p>

<p>
  <%=f.label :score %>
  <%=f.text_field :score %>
</p>

<p>
  <%=f.label :ambiance %>
  <%=f.text_field :ambiance %>
</p>

<%= f.submit "Save Review"  %>

<% end %>
